data/ShanghaiDogsAssemblies
data/ShanghaiDogsFastQ
data/ShanghaiDogsMAGs
data/ShanghaiDogsMetadata/subsets
data/ShanghaiDogsTables
external-data/data/
intermediate-outputs/
*.jugdata/
resource_generation/Public
*/code/nohup/
__pycache__/
resource_generation/localDB/
resource_generation/nohup/
localDB/
