data/ShanghaiDogsAssemblies
data/ShanghaiDogsFastQ
data/ShanghaiDogsMAGs
data/ShanghaiDogsMetadata/subsets
data/ShanghaiDogsTables
data/ShanghaiDogs_OtherResources/
external-data/data/
intermediate-outputs/
*.jugdata/
resource_generation/Public
*/code/nohup/
__pycache__/
resource_generation/localDB/
resource_generation/nohup/
localDB/
analysis/unused_scripts
data/TRASH_TO_BE_REMOVED/
data/TRASH_WILL_BE_REMOVED/
data/ShanghaiDogsZenodo/
data/ShanghaiDogsMAGAnnotations/
resource_generation/old_scripts_USED/
data/ShanghaiDogsMetadata/ALL_canid_felid_metadata.csv
notes/
analysis/figures/pdf-version/